<div id="data_hack" class="game">
  <div class="background">
    <p class="data_hack_com">
      ＰＣにアクセスできたので<span class="red">データベースの情報を盗み</span>とりましょう。
    </p>
    <%= button_to 'ハックする', '/hackstep8', method: :get, id: 'do_data' %>
  </div>
</div>