<div id="pc_access" class="game">
  <div class="background">
    <p class="access_com">
      自治体のデータベース管理システムの脆弱性を利用するために、<br>まず<span class="red">ＰＣに不正アクセス</span>をします。
    </p>
    <%= button_to 'アクセスする', 'hackstep5', method: :get, id: 'do_access' %>
    <div id="access_imgs">
      <div id="srv_img"></div>
      <div id="arr_img"></div>
      <div id="atc_img"></div>
    </div>
  </div>
</div>