<div id="create_card" class="game">
  <div class="background">
    <span id="create_card_com">作成しましょう！</span>
    <%= button_to 'カード作成', '/hackstep14', method: :get , id: 'create_card_btn' %>
  </div>
</div>