<div id="mynum_oflw" class="game">
  <div class="background">
    <div class="mynum_img"></div>
      <p id="mynum_oflw_com">
        あなたが<span class="red">先ほど入力した（擬似）マイナンバー</span>を覚えていますか？<br>
        あのような<span class="red">入力フォーム</span>に自分のマイナンバーを<wbr><span class="red">簡単に入力してしまうと</span><wbr>サイトの運営者やその関係者、<wbr>
        さらにはサイトに対して攻撃を仕掛ける人など、<wbr><span class="red">さまざまなところにあなたのマイナンバーを知られることになります。</span><br>
        マイナンバーを<span class="red">他人に知られることで、<wbr>さまざまな犯罪の被害者になる可能性</span>だけではなく、<wbr><span class="red">犯罪の加害者の一人になる可能性</span>も<wbr>
        はらんでいます。<br>
        今回は攻撃者の目線であなたのマイナンバーがどのように利用され、<wbr>先ほどの絵のような<span class="red">人生が狂ってしまう結果に至ったのか</span>を<wbr>見て行きましょう…<br>
      </p>
    <%= button_to '次へ', '/hackstep3', method: :get, id: 'next_hij_1' %>
  </div>
</div>