<div id="acount_comp" class="game">
  <div class="background">
    <div class="user_aco_info">
      <h3 class="red">口座番号</h3>
      <span>xxxx-xxxx-xxx</span>
      <h3 class="red">名義人</h3>
      <span id="hack_name4" class="hack_name">[ニックネーム]</span><br>
      <%= button_to '次へ', '/hackstep13', method: :get, id: 'next_hij_6' %>
    </div>
  </div>
</div>