<div id="data_hacking">
      <div class="background">
        <h1 class="steal_per">ＰＣからデータを取得中…</h1>
        <div class="steal_per">
          <div id="steal_floatingBarsG">
            <div class="blockG" id="rotateG_01"></div>
            <div class="blockG" id="rotateG_02"></div>
            <div class="blockG" id="rotateG_03"></div>
            <div class="blockG" id="rotateG_04"></div>
            <div class="blockG" id="rotateG_05"></div>
            <div class="blockG" id="rotateG_06"></div>
            <div class="blockG" id="rotateG_07"></div>
            <div class="blockG" id="rotateG_08"></div>
          </div>
          <span id="steal_per_num">0</span>% 
        </div>
        <div id="steal_line">
          <span class="expand"></span>
        </div>
      </div>
    </div>