<div id="hack_acc_comp">
  <div class="background hack_acc_comp">
    <h1>不正アクセスが完了しました</h1>
    <div id="excla_acc"></div>
    <%= button_to '次へ', '/leakstep7', method: :get, class: 'next_btn', id: 'next_lea_3' %>
  </div>
</div>