<div id="hack_acc">
  <div class="background">
    <h1 class="access_per">ＰＣに不正アクセス中…</h1>
    <div class="access_per">
      <div id="access_floatingBarsG">
        <div class="blockG" id="rotateG_01"></div>
        <div class="blockG" id="rotateG_02"></div>
        <div class="blockG" id="rotateG_03"></div>
        <div class="blockG" id="rotateG_04"></div>
        <div class="blockG" id="rotateG_05"></div>
        <div class="blockG" id="rotateG_06"></div>
        <div class="blockG" id="rotateG_07"></div>
        <div class="blockG" id="rotateG_08"></div>
      </div>
      <span id="access_per_num">0</span>%
    </div>
    <div id="access_line">
      <span class="expand"></span>
    </div>
    <span id="leak"></span>
  </div>
</div>
