<div id="data_hack_comp">
  <div class="background hack_stl_comp">
    <h1>ハック完了しました</h1>
    <div id="excla_dat"></div>
    <p class="data_hack_com">
      <span id="hack_name1" class="red hack_name">[ニックネーム]</span>さんの<br>
      マイナンバーは<span id="mynumber1" class="red mynumber">[マイナンバー]</span>で、<br>
      住所は<span class="red">大阪府大阪市天王寺区六丁目八ー四</span>です。
      電話番号は<span class="red">080-0000-0000</span>です。
    </p>
    <%= button_to '次へ', '/leakstep10', method: :get, class: 'next_btn', id: 'next_lea_5' %>
  </div>
</div>