<div id="do_leakage" class="game">
  <div class="background">
    <p class="leakage_com">
      もしも、<span class="red">マイナンバーが流出</span>してしまい、<span>個人情報が流出</span>してしまった場合、先ほどのように世界中の人に知られてしまい、最悪の場合、<span class="red">さまざまなイタズラや犯罪に巻き込まれる</span>事態が起きてしまうのです。
      <span class="center">マイナンバーの扱いには十分に注意しましょう！</span>
    </p>
  <%= button_to '終わる', '/end', method: :get, id: 'finish' %>
  </div>
</div>