<div id="mynum_use" class="game">
  <div class="background background_com">
    <p>
     まず、<span class="red">自治体のＰＣに不正にアクセス</span>をして、その中にあるデータベースからあなたが入力した（流出させてしまった）<span class="red">マイナンバーにひも付いた個人情報を盗み出します</span>。
    </p>
    <ul>
      <li class="bg_com">自治体のＰＣは<span class="red">公式のサポートが終了した"Ｗｉｎｄｏｗｓ ＸＰ"を使用</span>し、"ＸＰの脆弱性"を利用して<span class="red">不正な方法でのアクセスが可能</span>な状態です。</li>
      <li class="bg_com">また、不運なことにそのＰＣで使用している<span class="red">データベース管理システムにも"ソフトウェア上の脆弱性"が存在</span>し、簡単にデータベース内の内容にアクセスすることが可能な状態です。</li>
    </ul>
    <p>
      あなたの住む街の自治体のＰＣが不運にも上記のような状態であったため、あなたの流出したマイナンバーは<span class="red">攻撃者の格好の標的</span>となってしまったのです。
    </p>
    <%= button_to '次へ', '/leakstep4', method: :get, class: 'next_btn', id: 'next_lea_2' %>
  </div>
</div>