<div id="process_desc" class="game">
  <ul id="process_li" class="background">
    <li class="process_li"><span class="red">マイナンバー</span>が流出！</li>
    <li class="dot_none">↓</li>
    <li class="process_li"><span class="red">個人情報</span>の流出…</li>
    <li class="dot_none">↓</li>
    <li class="process_li">口座を<span class="red">不正に開設</span></li>
    <li class="dot_none">↓</li>
    <li class="process_li">クレジットカードを不正に作成し、<span class="red">借金地獄</span>に…</li>
  <div class="buttons">
    <%= button_to '終わる', '/end', method: :get, id: 'end_game' %>
    <%= button_to 'この事件を体験する', '/leakstep2', method: :get, id: 'enter_game' %>
  </div>
  </ul>
</div>